@charset "utf-8";

html {
  scroll-behavior: smooth;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

#wrap {
  width: 100%;
  overflow: hidden;

}



/********************모바일메뉴*************************/
.layer_bg {
  display: none;
}

/********************모바일메뉴*************************/
.mob_util_wrap .search_box {
  margin-top: 28px;
}

.search_box {
  position: relative;
}
.mob-menu-warp{
  display: none
}
.mob_menu_open {
  display: none;
}
.mob-cart{
  margin-right: 10px;
  cursor: pointer;
  display: none;
}
.mob-cart img{
  width: 35px;height: 35px;
}

#mob_gnb {
  font-size: 16px;
  position: fixed;
  top: 0;
  right: 0;
  right: -100%;
  width: 100%;
  z-index: 99999;
  height: 100%;
  box-shadow: 0px 8px 12px 0px rgb(0 0 0 / 10%);
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;

  /*         display: none; */
  visibility: hidden;
  transform: translateX(100%);
  transition: all .4s ease;
  transition-property: visibility, right;

  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.bu>li {
  position: relative;
  margin-top: 6px;
  padding: 0 0 0 12px;
  color: #464646;
  list-style: none;
  text-align: left;
}

.bu>li:before {
  position: absolute;
  left: 0;
  top: calc(50% - 2.5px);
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #7d7d7d;
  opacity: .5;
}

.search_box input {
  border: 2px solid #7f297c;
  border-radius: 30px;
  padding: 0 20px;
  height: 44px;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.88em;
  color: #a3a3a3;
}

.search_box a {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 42px;
  cursor: pointer;
  height: 100%;
  padding-right: 20px;
}

/*로고-회원가입,로그인*/

.header-line {
  border-bottom: 1px solid #DEDEDE;
  padding: 0
}

#header {
  position: relative;

}

#header .top-wrap {
  display: flex;
  justify-content: space-between;
  ;
  padding: 11px
}

#header .top-wrap .util-box {
  display: flex;
}

#header .top-wrap .util-box a {
  color: #9D9D9D;
  font-size: 0.9rem;
  font-family: 'Noto_Sans_KR_Regular';
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#header .top-wrap .util-box a:nth-child(1)::before {
  content: '';
  display: flex;
  background-image: url(../images/login.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  background-size: 16px;
  margin-right: 6px;
}

#header .top-wrap .util-box a:nth-child(2)::before {
  content: '';
  display: flex;
  background-image: url(../images/join.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  background-size: 16px;
  margin-right: 6px;
}

#header .top-wrap .util-box a:nth-child(3)::before {
  content: '';
  display: flex;
  background-image: url(../images/site-map.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  background-size: 16px;
  margin-right: 6px;
}

#header .top-wrap .util-box a:nth-child(3) {
  margin: 0;
}

/*네비게이션*/
#bottom-wrap nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#bottom-wrap .nav-box {
  display: flex;
  width: 768px;
  z-index: 100;
}

#bottom-wrap .nav-box .nav-btn {
  width: 192px;
  height: 72px;
  text-align: center;
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .nav-box {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  z-index: 99;
}

nav .nav-box::before {
  content: '';
  display: block;
  width: 100%;
  height: 0px;
  opacity: 0;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 128px;
  left: 0;
  z-index: 9999;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #7F297C;
}

nav .nav-box:hover::before {
  opacity: 1;
  height: 346px;
  transition: opacity 0.3s, height 0.5s;
}

nav .nav-box .nav-btn {
  width: 153px;
  text-align: center;
  position: relative;
}

nav .nav-box .nav-btn>a {
  background-color: rgb(255, 255, 255);
  display: block;
  width: 100%;
}

nav .nav-box .nav-btn>a:hover {
  color: #7F297C;
}

nav .nav-box .nav-btn ul {
  background-color: rgb(255 255 255 / 0%);
  position: absolute;
  z-index: 9999;
  width: 100%;
  box-sizing: border-box;
  opacity: 0;
  height: 0;
  overflow: hidden;
  top: 72px;
}


nav .nav-box:hover>li ul {
  opacity: 1;
  height: 346px;
  transition: opacity 0.5s, height 0.5s;

}

nav .nav-box li ul:nth-child(2) {
  border-left: 1px solid #ededed;
}

nav .nav-box:hover .nav-btn:last-child ul {
  border-right: 1px solid #ededed;

}

nav .nav-box ul li {
  color: rgb(114, 114, 114);
  font-size: 0.9rem;
  text-align: left;
  padding: 0px 15px;
  font-family: 'Noto_Sans_KR_Regular';

}

nav .nav-box ul li a {
  display: block;
  height: 42px;
  line-height: 35px;
}


nav .nav-box ul li:hover>a {
  color: #7F297C;
  background-color: rgb(255, 255, 255);
  font-family: 'Noto_Sans_KR_Medium"';


}

nav .nav-box>.nav-btn:hover>a {
  color: #7f297c;
  font-family: 'Noto_Sans_KR_bold';
}

/*네비 꾸미기*/
nav .nav-box .nav-btn>a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #7f297c;
  position: absolute;
  top: 69px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

nav .nav-box .nav-btn:hover>a::after {
  width: 100%;
}


/***********************메인 슬라이드****************************/

#main-slide #main-slide .slider {
  width: 100%;

}

#main-slide .slick-slide {
  position: relative;
}

#main-slide .slick-slide img {
  width: 100%;
  height: 100%;
}

#main-slide .slick-prev:before,
#main-slide .slick-next:before {
  color: black;
}


#main-slide .slick-slide {
  transition: all ease-in-out .3s;
}

#main-slide .slick-current {
  opacity: 1;
}

#main-slide .slick-next {
  background-image: url(../images/main-slide-arrow-next.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 0;
  cursor: pointer;
}

#main-slide .slick-prev {
  background-image: url(../images/main-slide-arrow-pre.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  width: 45px;
  height: 45px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 0;
  cursor: pointer;
  z-index: 50;
}

/******************센터 배너****************/
#center-banner {
  border-radius: 7px;
  background: #FFF;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

#center-banner .center a {
  padding: 25px 54px;
  display: flex;
  align-items: center;
  color: #2B2B2B;
}

#center-banner .center {
  display: flex;
  align-items: center;
}

#center-banner .center::after {
  content: '';
  display: flex;
  justify-content: flex-end;
  border-right: 1px solid #C6C6C6;
  ;
  height: 36px;
}

#center-banner .center:last-child::after {
  border: 0;
}

#center-banner .center:nth-child(1) a::before {
  content: '';
  display: flex;
  background-image: url(../images/main-center-icon3.png);
  background-repeat: no-repeat;
  background-size: 36px;
  width: 36px;
  height: 36px;
  margin-right: 13px;
}

#center-banner .center:nth-child(2) a::before {
  content: '';
  display: flex;
  background-image: url(../images/main-center-icon4.png);
  background-repeat: no-repeat;
  background-size: 36px;
  width: 36px;
  height: 36px;
  margin-right: 13px;
}

#center-banner .center:nth-child(3) a::before {
  content: '';
  display: flex;
  background-image: url(../images/main-center-icon1.png);
  background-repeat: no-repeat;
  background-size: 36px;
  width: 36px;
  height: 36px;
  margin-right: 13px;
}

#center-banner .center:nth-child(4) a::before {
  content: '';
  display: flex;
  background-image: url(../images/main-center-icon2.png);
  background-repeat: no-repeat;
  background-size: 36px;
  width: 36px;
  height: 36px;
  margin-right: 13px;
}

/**********서비스 바로가기*************/
#Quick {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 64px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 100px;
}

#Quick .Quick-title h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 4px 0px 14px 0px;
}

#Quick .Quick-title h2 span {
  font-weight: 700;
}

#Quick .Quick-title .search-bar {
  /*돋보기 위치*/
  position: relative;

}

#Quick .Quick-title .search-bar input {
  /*검색 디자인*/
  border: 1px solid #814FC0;
  border-radius: 30px;
  padding: 0 20px;
  height: 40px;
  width: 221px;
  box-sizing: border-box;
  font-size: 0.88em;
}

#Quick .Quick-title .search-bar input::placeholder {
  /*검색 디자인2*/
  color: #9A9A9A;
}

#Quick .Quick-title .search-bar a {
  /*검색 돋보기 위치 및 크기*/
  position: absolute;
  top: 0;
  left: 180px;
  line-height: 36px;
  cursor: pointer;
  height: 100%;
  padding-right: 20px;
}

#Quick .Quick-menu {
  text-align: center;
  display: flex;
  align-items: center;
}

#Quick .Quick-menu>li {
  margin-left: 75px;
  height: 114px;
}

#Quick .Quick-menu a {
  display: flex;
  border-radius: 83.089px;
  background: #F0F0F0;
  width: 90px;
  height: 90px;
  align-items: center;
  justify-content: center;

}

#Quick .Quick-menu a:hover {
  border: 1px solid #7F297C;
  box-sizing: border-box;
  background-color: #F5F2FB;
}

#Quick .Quick-menu a:hover li {
  color: #7F297C;
}

#Quick .Quick-menu li:nth-child(1) a img {
  transform: translateY(-5px);
}

#Quick .Quick-menu>li>ul {
  margin-top: 10px;
}


/**********추천교육*************/
#main-education {
  display: flex;
  position: relative;
  margin-bottom: 45px;
}

#main-education .edu-title {
  width: 30%;
  position: relative;

}

#main-education .edu-title h2 {
  font-size: 1.5rem;
  margin-bottom: 16px;
  font-weight: 500;
  position: relative;

}

#main-education .edu-title h2 span {
  color: #7F297C;
  font-weight: 700;
}

#main-education .edu-title a {
  border: 1px solid #C6C5C5;
  border-radius: 6px;
  padding: 5px 17px;
  font-size: 0.9rem;
  color: #272727
}

#main-education .slider {
  width: 77%;
}

#main-education .slick-slide {
  margin: 10px
}

#main-education .slick-list {
  padding-top: 26px;
  margin: 0px 0px 0px -10px;
  height: 300px;

}

#main-education .slick-slide img {
  width: 100%;
}

#main-education .slick-prev:before,
#main-education .slick-next:before {
  color: black;
}

#main-education .regular .slick-slide {
  border-radius: 21px;
  background: #FFF;
  box-shadow: 2px 7px 8px 0px rgba(0, 0, 0, 0.082);
  overflow: hidden;

}

#main-education .slick-slide {
  transition: all ease-in-out .3s;

}

#main-education .slick-active {
  opacity: 1;
}

#main-education .slick-current {
  opacity: 1;
  transform: translateY(-35px);


}


#main-education .slick-prev {
  position: absolute;
  left: -30%;
  top: 86px;
  background-image: url(../images/left-btn.png);
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  border: 0;
  background-color: transparent;
  font-size: 0;
  cursor: pointer
}

#main-education .slick-next {
  position: absolute;
  left: -18%;
  top: 86px;
  background-image: url(../images/right-btn.png);
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  border: 0;
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
}

#main-education .slide-box .text-box h3 {
  font-size: 0.95rem;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

#main-education .slide-box .text-box>p {
  color: #5A5A5A;
  font-family: 'Noto_Sans_KR_Regular';
  font-size: 0.76rem;
  margin-bottom: 15px;
}

#main-education .slide-box .text-box {
  padding: 10px 18px;
}

#main-education .slide-box .text-box .pay-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-education .slide-box .text-box .pay-box p {
  color: #5A5A5A;
  font-family: 'Noto_Sans_KR_Regular';
  font-size: 0.76rem;
}

#main-education .slide-box .text-box .pay-box h2 {
  font-size: 1.13rem;
  color: #7F297C;
  font-weight: 500;
}

#main-education .slide-box .text-box .pay-box h2 span {
  font-size: 0.9rem;
}

#main-education .btn_pause {
  background: url('../images/stop_btn.png')no-repeat;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  left: 20%;
}

#main-education .btn_pause.on {
  background: url('../images/play_btn.png')no-repeat;
  width: 42px;
  height: 42px;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
  outline: none;

}

#main-education .background {
  border-radius: 74px 0px 0px 32px;
  background: #F9F3EA;
  width: 710.854px;
  height: 304.898px;
  position: absolute;
  z-index: -1;
  top: -42px;
  right: 6px;
}



/******************공지사항+이북***********************/
#notice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

#notice .board {
  width: 100%;
}

#notice .tabs-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#notice .tabSet ul.tabs {
  overflow: hidden;
  margin-bottom: 15px;
}

#notice .tabSet ul.tabs li {
  float: left;
  padding: 0 2px 0 0;
  list-style-type: none;
}

#notice .tabSet ul.tabs li a {
  float: left;
  color: #8C8C8C;
  display: block;
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer;
  margin-right: 25px;
}

#notice .tabSet ul.tabs li a:hover {
  text-decoration: underline;
}

#notice .tabSet ul.tabs li a.on {
  background: #fff;
  cursor: default;
  color: #484848;
  font-family: 'Noto_Sans_KR_bold';
  font-weight: 700;
  border-bottom: 2px solid #7F297C;
  padding-bottom: 5px;
}

#notice .tabSet ul.tabs li a.on:hover {
  text-decoration: none;
}

#notice .program .img-box a {
  overflow: hidden;
  display: block;
  border-radius: 7px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
  margin-left: 40px;
}

#notice .program .img-box a img {
  width: 250px;
}

#notice .panels {
  background: #fff;
  height: 306px;
  padding: 40px 30px 0px 30px;
  border-radius: 6px;
  border-top: 1px solid #7F297C;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
  box-sizing: border-box;
  overflow: hidden;
}

#notice .panel {
  display: none;
}

#notice .panel .top-board {
  border-bottom: 1px solid #D2D2D2;
  padding-bottom: 16px;
}

#notice .panel .top-board a>div {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  overflow: hidden;


}

#notice .panel .top-board a h2 {
  font-size: 1.25rem;
  font-family: 'Noto_Sans_KR_bold';
  font-weight: 700;
  color: #7F297C;
  width: 462px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

#notice .panel .top-board a span {
  color: #7F297C;
  font-size: 1.25rem;
  margin-left: 10px;
}

#notice .panel .top-board .day {
  color: #989898;
  font-size: 0.95rem;
  text-align: right;

}

#notice .tabs-wrap .plus-btn {
  background-image: url(../images/plus.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  font-size: 0;
}

#notice .bottom-board {
  margin-top: 20px;
  padding-left: 5px;
}

#notice .bottom-board ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.95rem;
  font-family: 'Noto_Sans_KR_Regular';
  font-weight: 400;
  color: #484848;
  margin-bottom: 10px;
}

#notice .bottom-board ul li>div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#notice .bottom-board ul li>div span {
  color: #7F297C;
  font-family: 'Noto_Sans_KR_Medium"';
  font-weight: 500;
  margin-left: 5px;
  display: block;
}

#notice .bottom-board ul li a {
  display: block;
  align-items: center;
  width: 84%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;

}

#notice .bottom-board ul li a:hover {
  text-decoration: underline;
}

#notice .bottom-board ul li a::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #484848;
  border-radius: 100px;
  margin-right: 10px;
}

#notice .bottom-board ul li p {
  text-align: right;
  color: #989898;
}

#notice .e-book-mob {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  display: none;
}

#notice .e-book-mob a {
  display: flex;
  background-color: #F5F2FB;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

#notice .e-book-mob a p {
  color: #7F297C;
}

#notice .e-book-mob a::before {
  content: '';
  display: block;
  background-image: url(../images/free-icon-ebook-4048083.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff48;
  padding: 10px;
  border-radius: 300px;
  margin-right: 20px;

}

#notice .e-book-mob a::after {
  content: '';
  display: block;
  background-image: url(../images/right_arrow.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  margin-left: 15px;

}














/******************어떤교육***********************/
#introduce-edu {
  width: 100%;
  background-color: #FFFCF0;
  padding: 43px 0px;
  margin-bottom: 60px;
}

#introduce-edu .content-wrap {
  display: flex;
  justify-content: space-between;
}

#introduce-edu .content-wrap .title-top h2 {
  font-family: 'Noto_Sans_KR_Medium"';
  font-weight: 500;
  margin-top: 10px;
}

#introduce-edu .content-wrap .title-top h2 span {
  color: #7F297C;
  font-family: 'Noto_Sans_KR_bold';
  font-weight: 700;

}

#introduce-edu .content-wrap .title-top p {
  color: #6B6B6B;
  margin: 10px 0px 18px 0px;
}

#introduce-edu .content-wrap .title a {
  font-size: 0.9rem;
  border-radius: 6px;
  border: 1px solid #C6C5C5;
  text-align: center;
  padding: 5px 18px;
  background-color: #fff;
}

#introduce-edu .content-wrap .icon-warp {
  display: flex;
  justify-content: center;
  border-radius: 165px;
  border: 1px solid #CBCBCB;
  background: #FFF;
  flex-wrap: wrap;
  width: 57%;
  padding: 22px 67px;
}

#introduce-edu .content-wrap .icon-warp a {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: calc((100% - 0px)/7);

}

#introduce-edu .content-wrap .icon-warp a img {
  margin-bottom: 10px;
}

/*****************수강생후기********************/
#review-warp {
  margin-bottom: 60px;
}

#review-warp>h2 {
  font-family: 'Noto_Sans_KR_bold';
  font-size: 1.5rem;
  width: 200px;
}

#review-warp>h2 span {
  color: #7F297C;
  position: relative;
}

#review-warp>h2 span::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background-color: #7F297C;
  position: absolute;
  position: absolute;
  right: 31px;
  top: 0
}

#review-warp>h2 span::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background-color: #7F297C;
  position: absolute;
  position: absolute;
  right: 9px;
  top: 0
}

#review-warp>p {
  margin: 10px 0px 19px 0px;
  color: #767676;
}

#review-warp .content-box {
  background-color: #F4F4F4;
  padding: 31px 49px;
  border-radius: 11px;
}

#review-warp .rolling {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  height: 371px;

}

#review-warp .rolling li {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#review-warp .rolling li .img-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#review-warp .rolling li .img-box .icon {
  border-radius: 41.919px;
  background: #FFF;
  overflow: hidden;
  margin-bottom: 5px;
  width: 51px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#review-warp .rolling li .img-box img {
  width: 41px;
  height: 41px;
}

#review-warp .rolling li .img-box p {
  width: 47px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.75rem;
  color: #7F297C;
  border-radius: 34px;
  border: 1px solid #7F297C;
  width: 54.979px;
  height: 19px;
  text-align: center;
}

#review-warp .rolling li .img-box p::after {
  content: '*';
  width: 20px;
  display: block;
}

#review-warp .rolling li .text-box {
  margin-left: 14px;
}

#review-warp .rolling li .text-box h2 {
  font-size: 1.15rem;
  font-family: 'Noto_Sans_KR_bold';
  margin-bottom: 10px;
  overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
  width: 80%;
}

#review-warp .rolling li .text-box p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 0.9rem;
  color: #767676;
  margin-left: 8px;
}

/****************기관소개**************/

#information {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

#information .information-left {
  width: 100%;
}

#information .information-left .title {
  font-size: 1.5rem;
  font-family: 'Noto_Sans_KR_bold';
  font-weight: 700;
  margin: 0;
  padding: 15px 0px;
  border-bottom: 1px solid #474747;
  margin-bottom: 28px;
}

#information .regular .slick-slide a {
  background: #FFFFFF;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #D0D0D0;
  border-radius: 18px;
  height: 150px;
  display: block;
}

#information .regular .slick-slide .text {
  text-align: center;
  font-family: 'Noto_Sans_KR_Regular';
  font-weight: 400;
  margin-top: 8px;
}

#information .regular .slick-slide div {
  height: 100%;
  ;
}

#information .slider {
  width: 100%;
}

#information .slick-slide {
  margin: 0px 10px
}

#information .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#information .slick-prev:before,
#information .slick-next:before {
  color: black;
}


#information .slick-slide {
  transition: all ease-in-out .3s;
}

#information .slick-current {
  opacity: 1;
}


#information .slick-next {
  background-image: url(../images/info-arrow1.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  width: 35px;
  height: 35px;
  background-color: transparent;
  position: absolute;
  top: -40%;
  right: 0%;
  font-size: 0;
  cursor: pointer;
}

#information .slick-prev {
  background-image: url(../images/info-arrow2.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  width: 35px;
  height: 35px;
  background-color: transparent;
  position: absolute;
  top: -40%;
  right: 5%;

  font-size: 0;
  cursor: pointer;
  z-index: 9;
}


/****************배너+연락처**************/
#last-info {
  display: flex;
  margin-bottom: 50px;

}

#last-info .banner-box {
  border-radius: 6px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  overflow: hidden;
  width: 100%;
  height: 0px;
  margin-right: 20px;
  position: relative;
  padding-bottom: 23%;
}

#last-info .banner-box img {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
}

#last-info .sqa .title {
  font-size: 1.4rem;
  font-family: 'Noto_Sans_KR_bold';
  font-weight: 700;
  margin: 0;
  padding: 5% 0%;
  border-bottom: 1px solid #474747;

}

#last-info .sqa {
  width: 75%;
  margin-left: 20px;
}

#last-info .sqa .content .phon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #B4B4B4;
  padding: 5% 0%;

}

#last-info .sqa .content .phon p {
  font-size: 1.5rem;
  font-family: 'Noto_Sans_KR_bold';
  font-weight: 700;
}

#last-info .sqa .content .phon a {
  font-size: 0.9rem;
  padding: 9px 17px;
  display: flex;
  align-items: center;
  margin-right: 13px;
  background-color: #7F297C;
  color: #fff;
  border-radius: 3px;
  font-family: 'Noto_Sans_KR_Regular';
  font-weight: 400;
}

#last-info .sqa .content .time h4 {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 4px;
  color: #7F297C;
  font-size: 1.15rem;
}

#last-info .sqa .content .time p {
  line-height: 29px;
}

#last-info .sqa .content .qna {
  display: flex;
  justify-content: space-between;
}

#last-info .phon>p {
  display: flex;
  align-items: center;
}

#last-info .phon>p::before {
  content: '';
  display: block;
  background-image: url(../images/call.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  transform: translateY(3px);
}

/*******************sns***********************/

#sns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FBFBFB;
  border: 1px solid #D3D3D3;
  border-radius: 6px;
  padding: 29px 42px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

#sns .sns-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Noto_Sans_KR_Regular';
  font-weight: 400;
  width: 44%;
}

#sns .sns-left h2 {
  font-size: 1rem;
  border-right: 1px solid #B6B6B6;
  padding-right: 12px;
  margin-right: 12px;
  display: flex;
}

#sns .sns-left h2 span {
  display: inline-block;
  color: #7F297C;
  font-family: 'Noto_Sans_KR_bold';
  font-weight: 700;
}

#sns .sns-left p {
  margin: 0;
  color: #696969;
  font-size: 0.9rem;
}

#sns .sns-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;

}

#sns .sns-right img {
  width: 35px;
  height: 35px;
}

#sns .sns-right>div {
  width: 100%;
}

#sns .sns-left h2::before {
  content: '';
  background: #7F297C;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  display: block;

}

#sns .sns-right a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #CDCDCD;
  height: 47px;
  padding-right: 10px;
  padding-left: 10px;
}

#sns .sns-right a p {
  font-size: 0.9rem;
  color: #5E5E5E;
  margin: 0;
  margin-top: 8px
}

#sns .sns-right div:first-child a {
  padding-left: 0
}

#sns .sns-right div:last-child a {
  border: 0;
  padding-right: 0;
}

/***********************footer****************************/

#footer-wrap {
  background: #5E5E5E;
  padding: 25px 0px
}

#footer-wrap .logo-sns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  
}

#footer-wrap .content {
  display: flex;
  justify-content: space-between;
  position: relative;align-items: center;
  margin-bottom: 21px;
}

#footer-wrap .content a {
  margin-right: 28px;
  color: #fff;
  font-family: 'Noto_Sans_KR_Medium"';
}

#footer-wrap p {
  color: #C9C9C9;
  font-family: 'Noto_Sans_Light';
  font-size: 0.9rem;
}


#footer-wrap .content .family {
  vertical-align: middle;
  top: 100px;
  width: 196px;
  left: 10px;
  border-radius: 8px;
  border: 1px solid #FFF;
}

#footer-wrap .content .family>a {
  display: block;
  position: relative;
  z-index: 10;
  height: 46px;
  font-family: 'Noto_Sans_KR_Medium"';
  font-weight: 500;
  font-size: 0.9rem;
  padding-left: 19px;
  color: #fff;
  text-align: left;
  line-height: 46px;
  transition: all .2s;
  text-decoration: none;
  margin: 0;
}

#footer-wrap .content .family .icon {
  position: relative;
  display: inline-block;
  width: 91px;
  height: 17px;
  overflow: hidden;
  vertical-align: middle;
}

#footer-wrap .content .family .icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 87%;
  width: 8px;
  height: 8px;

  transform: translate(-50%, -50%) rotate(-135deg);
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
  margin-top: -4px;

  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

#footer-wrap .content .family .icon.rotate:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);

  margin-top: 2px;
}

#footer-wrap .content .family ul {
  position: absolute;
  top: 48px;
  width: 141px;
  padding: 5px 27px;
  margin-bottom: 29px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #FFF;

  border-bottom: 0;
  opacity: 0;
}

#footer-wrap .content .family ul li a {
  display: block;
  position: relative;
  padding: 5px 0;
  font-size: 0.9rem;
  color: #272727;
  text-decoration: none;
}

#footer-wrap .content .family ul li a:hover {
  color: #7F297C
}

#footer-wrap .content .family ul.opacity {
  opacity: 1;
}


/***********************cart-fix****************************/
#fix {
  position: fixed;
  right: 30px;
  z-index: 231231;
  top: 11%;

}

#fix ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fix .cart {
  margin-bottom: 38px;
}

#fix .cart a {
  background: #814FC0;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  width: 102px;
  height: 102px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
  font-family: 'Noto_Sans_Light';
}

#fix .cart p {
  position: relative;
  top: -16px;
}

#fix .cart p::before {
  content: '';
  display: flex;
  background-image: url(../images/cart-fix.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 52px;
  position: relative;
  transform: translateX(-2px);
}

#fix .cart p::after {
  content: '0';
  display: block;
  background: #FFE600;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  color: #000;
  position: absolute;
  top: 4px;
  right: 6px;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: 'Noto_Sans_KR_bold';
  text-align: center;
  line-height: 17px;
}

#fix .edu-box {
  background: #FFFFFF;
  box-shadow: 1px 4px 11px rgba(0, 0, 0, 0.15);
  border-radius: 14px;
  padding: 21px 31px;
  text-align: center;
  color: #787878;
}

#fix .edu-box a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fix .edu-box .edu1,
#fix .edu-box .edu2,
#fix .edu-box .edu3 {
  margin-bottom: 24px;
}

#fix .edu-box .edu1 a::before {
  content: '';
  background-image: url(../images/edu1.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 47px;
  height: 47px;
  display: block;
}

#fix .edu-box .edu2 a::before {
  content: '';
  background-image: url(../images/edu2.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 47px;
  height: 47px;
  display: block;
}

#fix .edu-box .edu3 a::before {
  content: '';
  background-image: url(../images/edu3.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 47px;
  height: 47px;
  display: block;
}

#fix .edu-box .top-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #7A25E7;
  padding-top: 30px;
  border-top: 1px solid #C5C5C5;
}

#fix .edu-box .top-btn::before {
  content: '';
  display: block;
  background-image: url(../images/top-btn.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 28px;
  height: 19px;
}







/****************반응형**********************/

@media all and (max-width:1200px) {
  #center-banner {

    width: 95%;
  }

  #center-banner .center a {
    padding: 25px 22px;
    font-size: 0.8rem;
  }

  #Quick {

    width: 94%;
  }

  #Quick .Quick-menu a {
    width: 82px;
    height: 82px;
  }

  #Quick .Quick-menu>li {
    margin-left: 53px;
  }

  #main-education .background {
    border-radius: 92px 0px 0px 19px;
    width: 652.854px;
    right: -27px
  }

  #fix {
    display: none;
  }

  #last-info {
    width: 95%;

  }

  #last-info .sqa .title {
    font-size: 1.3rem;

    padding: 2% 0%;
  }

  #last-info .sqa .content .phon p {
    font-size: 1.3rem;

  }

  #notice {
    width: 95%;
  }

  #notice .bottom-board ul li>div {
    width: 73%;
  }

  #notice .board {
    width: 83%;
  }

  #notice .program {

    width: 27%;
  }

  #notice .program .img-box {

    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
    margin-left: 23px;
    height: 0;
    padding-top: 357px;
  }

  #notice .program .img-box a {
    border-radius: 0px;
    border: 0;
    box-shadow: 0;
    margin-left: 0px;

  }

  #notice .program .img-box a img {
    /* width: 250px; */
    position: absolute;
    right: 0;
    top: 0;
    /* height: 0; */
    /* padding-top: 99px; */
    height: 100%;
  }
  #introduce-edu .content-wrap {

    width: 95%;
}
#introduce-edu .content-wrap .icon-warp {
  padding: 22px 49px;
}
#introduce-edu .content-wrap .icon-warp a {

  font-size: 0.8rem;
}
#introduce-edu .content-wrap  .title{
  width: 44%;
}

#main-education {

  padding:0px 20px
}
#review-warp {
  padding: 0px 20px;
}
#information {

  padding: 0px 20px;
}
#information .slick-prev {
  right: 11%;
}
#sns {
  width: 95%;
  padding: 29px 25px;
}
#sns .sns-left {
  justify-content: flex-start;
  width: 50%;
}
#sns .sns-right {
  width: 52%;
}
#sns .sns-left h2 {
  font-size: 0.9rem;

  
}#sns .sns-left p {
 
  font-size: 0.8rem;
}
#footer-wrap {
  padding: 25px 24px;
}
}










@media all and (max-width:1000px) {
  #Quick .Quick-title .search-bar a {
    left: 142px;
  }

  #Quick .Quick-menu>li {
    margin-left: 35px;
  }

  #Quick .Quick-menu a {

    width: 80px;
    height: 80px;

  }

  #Quick .Quick-title h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 4px 0px 14px 0px;
  }

  #Quick .Quick-menu>li>ul {
    font-size: 0.9rem;
  }

  #main-education .edu-title h2 {
    font-size: 1.3rem;

  }

  #Quick .Quick-title .search-bar input {
    padding: 0 11px;
    height: 40px;
    width: 176px;
    font-size: 0.8em;
  }

  #last-info .banner-box {

    margin-right: 10px;
    position: relative;
    padding-bottom: 27%;
  }

  #notice .program .img-box a img {
    position: absolute;
    right: 3%;
  }

  #notice .board {
    width: 72%;
  }

  #notice .board {
    width: 67%;
  }

  #notice .program {
    width: 32%;
  }
  #introduce-edu .content-wrap {
    flex-direction: column;
    align-items:flex-start;
}

#introduce-edu .content-wrap .icon-warp {
 box-sizing: border-box;
  width: 100%;
  border-radius: 40px;

}
#main-education .btn_pause {

  top: 85px;
}
#introduce-edu .content-wrap .title {
  width: 44%;
  margin-bottom: 39px;
  /* margin-left: 64px; */
}
#sns {
  width: 95%;
  padding: 29px 25px;
}
#sns .sns-left {
  align-items: flex-start;
  width: 46%;
  flex-direction: column;
}
#sns .sns-right {
  width: 87%;
}
#sns .sns-left h2 {

  border-right: 0;

}
#sns .sns-left p {
  margin-left: 11px;
}
}








@media all and (max-width:800px) {
  #center-banner {
    flex-wrap: wrap;
  }

  #center-banner .center {
    width: calc((100% - 20px)/2);
    flex-wrap: wrap;
    justify-content: center;
  }

  #center-banner .center::after {
    display: none;

  }

  #Quick .Quick-menu>li {
    margin-left: 31px;
  }

  #Quick .Quick-menu>li:first-child {
    margin: 0;
  }

  #Quick {
    flex-direction: column;
    border: 0;
    margin-bottom: 52px;
  }

  #Quick .Quick-title {
    margin-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #Quick .Quick-menu {

    align-items: center;
    justify-content: space-between;
  }

  #Quick .Quick-menu a {
    width: 100px;
    height: 100px;
  }

  #bottom-wrap {
    display: none;
  }

  #header .top-wrap .util-box {
    display: none;
  }

  #main-education {
    flex-direction: column;
    padding: 0px 20px;
  }

  #main-education .slider {
    width: 100%;
  }

  #main-education .background {
    border-radius: 0;
    width: 100%;
    right: 0px;
  }

  #last-info .sqa {
    width: 98%;
    margin-left: 0px;
  }

  /*******모바일 메뉴***********/
  .mob_util_wrap .search_box input {
    width: 100%;
  }

  .mob_menu_open {
    cursor: pointer;
    display: block;
  }

  #mob_gnb.on {
    display: block;
    transform: translateX(0%);
    visibility: visible;
    right: 0;
  }

  .mob_menu_open img,
  .mob_menu_close img {
    height: 32px;
  }

  .mob_menu_close {
    position: absolute;
    top: 14px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
  }

  .mob_gnb_box {
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 10;
    padding-bottom: 60px;
    min-height: 100vh;
  }

  .mob_util_wrap {
    padding: 20px;
    border-bottom: 1px solid #ededed;
  }

  #mob_menu {
    overflow: auto;
    height: 100%;
    overflow: hidden;
  }

  .mob_menu_wrap a.tit {
    font-size: 1.1em;
    width: 100%;
    padding: 16px 20px;
    display: block;
    font-weight: 700;
    background: url(../images/mob_arrow.png) no-repeat right 20px center;
    box-sizing: border-box;
  }

  .mob_menu_wrap a.tit.on {
    background: url(../images/mob_arrow_on.png) no-repeat right 20px center;
    color: #7f297c;
  }

  .mob_menu_wrap>li {
    border-bottom: 1px solid #ededed;
  }

  .sub_menu {
    border-top: 1px dashed #ededed;
    /* padding: 10px 20px; */
    font-size: .95em;
  }

  .sub_menu>li>a {
    display: block;
    width: 100%;
    padding: 16px 20px;
    border-bottom: 1px dashed #ededed;
    font-size: 0.95rem;
    font-family: 'Noto_Sans_Light';
  }

  .layer_bg {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99991;
    display: none;
  }

  .layer_bg.on {
    display: block;
  }

  .mob_util_wrap {
    padding: 20px;
    border-bottom: 1px solid #ededed;
  }

  .mob_util_box ul li {
    display: inline-block;
    margin-right: 16px;
  }

  .mob_util_box ul li a {
    padding-left: 4px;
    display: flex;
    align-items: center;
  }

  .depth_menu {
    padding: 8px 20px;
    background: #FBF8FB;
  }

  .depth_menu>li {
    padding: 4px 0 4px 12px;
  }


  .bu>li:first-child {
    margin-top: 0;
  }

  .bu>li:before {
    position: absolute;
    left: 0;
    top: calc(50% - 2.5px);
    display: inline-block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #7d7d7d;
    opacity: .5;
  }

  .depth_menu>li:before {
    background-color: #7f297c;
    opacity: 1;
  }

  .sub_menu,
  .depth_menu {
    display: none;
  }

  .mob_menu_wrap a.sub_tit {
    display: block;
    width: 100%;
    background: url(../images/leftmenu.png) no-repeat right 20px center;
    box-sizing: border-box;
  }

  .mob_menu_wrap a.sub_tit.on {
    background: url(../images/leftmenu_this.png) no-repeat right 20px center #EFE4EF;
    color: #7f297c;
    font-weight: 600;
  }

  .mob_util_box>ul>li:first-child a:before {
    content: '';
    display: block;
    background-image: url(../images/free-icon-login-659990.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  .mob_util_box>ul>li:last-child a:before {
    content: '';
    display: block;
    background-image: url(../images/free-icon-person-5393061.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  .mob_util_box>ul {
    margin: 0;
  }

  #edu-program .slick-slide img {
    margin: auto;
    height: 203px;
  }

  /**/
  #last-info {

    flex-direction: column;
    align-items: center;
  }

  #last-info .banner-box {
    margin: 0;
    position: relative;
    padding-bottom: 36.7%;
    margin-bottom: 20px;
}

  #notice {
    margin-bottom: 46px;
    flex-direction: column;
    align-items: center;
  }

  #notice .board {
    width: 100%;
  }

  #notice .e-book-mob {
    display: block;
  }

  #notice .program {
    display: none;
  }

  #main-education .slick-prev {
    left: 78%;
    top: -46px;
}
  #main-education .slick-next {
   
    left: 92%;
    top: -46px;
}
#main-education .edu-title {
  width: 74%;
  position: relative;
}
#main-education .btn_pause {
  left: 115%;
  top: 30px;
}
#introduce-edu .content-wrap .title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
#review-warp .content-box {
  padding: 31px 32px;

}
#introduce-edu .content-wrap .icon-warp {
  width: 100%;
  border-radius: 165px;
}
#review-warp>h2 {
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
}
#review-warp>p {
  text-align: center;
  font-size: 0.9rem;
}
#review-warp>h2 span::after {
  width: 5px;
  height: 5px;
  right: 8px;
  top: -1px;
  
}
#introduce-edu .content-wrap .title-top h2 {
  font-size: 1.3rem;
}
#review-warp>h2 span::before {
 
  width: 5px;
  height: 5px;
  right: 26px;
  top: -1px;
}
#introduce-edu .content-wrap .title-top p {
  font-size: 0.9rem;
}
#information .information-left .title {
  font-size: 1.3rem;
  text-align: center;
}

#sns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#sns .sns-left {
  width: 100%;
  flex-direction: column;
}
#sns .sns-left h2 {
  border-right: 0;
  padding-right:0;
  margin-right: 0;
}
#sns .sns-right {
  width: 79%;
    margin-top: 20px;
}
#sns .sns-right a {
  border-right: 0;
  height: 110px;
  padding-right: 0;
  padding-left: 0;
}
#sns .sns-right img {
  width: 58px;
  height: 58px;
}
#sns .sns-left p {
  
  text-align: center;
  width: 100%;
  margin-top: 5px;
  font-size: 0.9rem;
 
}
#sns .sns-left h2 {
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 1rem;
}
#notice .panel .top-board a h2 {
  font-size: 1rem;
 
}
#notice .panels {
  height: 288px;
  padding: 31px 22px 0px 22px;
  
}
#notice .bottom-board ul li {
  font-size: 0.8rem;

}
#notice .panel .top-board a span {
  font-size: 1rem;
  margin-left: 5px;
}
#notice .tabSet ul.tabs li a {
  font-size: 1.1rem;
}
#footer-wrap .content {
 
  align-items: flex-start;
  margin-bottom: 10px;
  flex-direction: column;
}
#footer-wrap .content>div{
  margin-bottom: 20px;
}
#footer-wrap .content .family ul {
 
  top: 89px;
}
.mob-menu-warp {
  display: flex;
}
.mob-cart{

  display: block
}
}






@media all and (max-width:750px) {
  #sns .sns-right {
    width: 92%;
}

}









@media all and (max-width:600px) {
  #Quick .Quick-title .search-bar {
    display: none;
  }

  #Quick .Quick-title {

    flex-direction: column;
  }

  #center-banner .center {
    width: calc((100% - 20px)/1);

  }

  #center-banner .center a {
    padding: 10px 18px;
    font-size: 0.9rem;
  }

  #Quick .Quick-menu>li {
    margin-left: 0px;
    height: 154px;
  }

  #Quick .Quick-menu {
    flex-wrap: wrap;
  }

  #Quick .Quick-menu a {
    width: 80px;
    height: 80px;
    border-radius: 17.089px;
  }

  #Quick .Quick-menu img {
    width: 45px;
    height: 45px;
  }

  #Quick .Quick-title h2 {
    text-align: center;
  }

  #Quick {
    padding-bottom: 16px;

  }

  #Quick .Quick-title h2 span {
    color: #7F297C;
  }
  #main-education .edu-title {
    width: 100%;
    text-align: center;
}
#main-education .edu-title h2 {
  margin-bottom: 71px;
}
#main-education .btn_pause {
  left: 46%;
  top: 72px;
}
#main-education .slick-prev {
  left: 35%;
  top: -59px;
}
#main-education .slick-next {
  left: 57%;
  top: -59px;
}
#introduce-edu .content-wrap .icon-warp a {

  width: calc((100% - 0px)/5);
}
#introduce-edu .content-wrap .icon-warp {

  border-radius: 44px;

}
#information .slick-prev {
  right: 16%;
  width: 30px;
  height: 30px;
  background-size: 30px;
  top: -35%;
}
#information .slick-next{
  width: 30px;
  height: 30px;
  background-size: 30px;
  top: -35%;
}
#sns {
  padding: 29px 04px;
}
#sns .sns-right>div {
  width: calc((100% - 20px)/3);
}
#footer-wrap .content a {
  margin-right: 19px;

}
#footer-wrap .content>div {
  font-size: 0.9rem;
}
}






@media all and (max-width:450px) {
#Quick .Quick-menu a {
    width: 100%;
    height: 90px;
    border-radius: 0;
}

#Quick .Quick-menu>li {
    width: 32.3%;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    overflow: hidden
}

#Quick .Quick-menu>li:nth-child(4) {
    width: 49%;
    margin-top: 3px;
}

#Quick .Quick-menu>li:nth-child(4) a {
    width: 100%;
}

#Quick .Quick-menu>li:nth-child(5) {
    width: 49%;
    margin-top: 4px;
}

#Quick .Quick-menu>li:nth-child(5) a {
    width: 100%;
}

  #Quick .Quick-menu a:hover {
    border-radius: 8px 8px 0px 0px;
  }
  #main-education .btn_pause {
    left: 45%;
}
#main-education .slick-next {
  left: 60%;

}
#main-education .slick-prev {
  left: 30%;

}

#introduce-edu .content-wrap .icon-warp a {
  width: calc((100% - 0px)/4);
}
#introduce-edu .content-wrap .title-top p {
 
  width: 194px;
  margin: auto;
  word-break: keep-all;
  margin-top: 10px;
  margin-bottom: 20px;
}
#notice .e-book-mob a p {
  font-size: 1rem;
}
#notice .e-book-mob a::after {

  margin-left: 6px;
}
#notice .e-book-mob a::before {

  margin-right: 10px;
}
#main-education .slick-list {
  margin: 0px 0px 0px 0px

}
#sns {
  background-color: #F5F2FB;
  padding: 29px 13px;
  border: 0;
  width: 100%;
}
#sns .sns-right {
  width: 100%;
  flex-wrap: wrap;
}
#sns .sns-right img {
  width: 50px;
  height: 50px;
}
#sns .sns-left h2 {
  
  font-size: 1.1rem;
}

#sns .sns-right>div:nth-child(4){
  width:48%;
  margin-top: 10px;
}
#sns .sns-right>div:nth-child(5){
  width: 48%;
  margin-top: 10px;
}
#sns .sns-right div {
  padding-left: 0;
  border-radius: 8px;
  background-color: #ffffff;
}
#footer-wrap .logo-sns .sns{
  display: none;
}
#footer-wrap .content a {
  margin-right: 5px;
}
#footer-wrap .content>div {
  font-size: 0.8rem;
}
#footer-wrap p {

  font-size: 0.7rem;

}
}














@media all and (max-width:400px) {
  #center-banner .center a {
    padding: 7px 18px;
    font-size: 0.8rem;
  }
  #review-warp .rolling li .text-box h2 {
    width: 63%;
  }
  #review-warp .rolling li .text-box p {
    width: 58%;
   
    -webkit-line-clamp: 2;
   
  }
}

@media all and (max-width:350px){
  #introduce-edu .content-wrap .icon-warp {
    padding: 18px 0px;
    width: 100%;
}

}